/*******************************************
PROJECTS
*******************************************/
.project {
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}
.project .name {
  font-size: 1.4em;
  font-weight: bold;
}
.project .year {
  font-size: 1.3em;
  opacity: 0.7;
}
.project .title {
  font-size: 1.6em;
  font-weight: bold;
}
.project .description {
  font-size: 1.2em;
  line-height: 1.5em;
}
/*******************************************
SCREENSHOTS
*******************************************/
.screenshot {
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 2px;
}
/*******************************************
MAP
*******************************************/
#map {
  height: 350px;
  display: block;
  background-color: #ededed;
}
#mapDiv {
  width: 100%;
}
/*******************************************
MODALS
*******************************************/
.my-modal-content {
  border-radius: 0;
}
.my-modal-content h3 {
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 700;
  font-size: 1.8em;
  text-transform: uppercase;
}
.my-modal-content h3:before {
  content: '//';
  margin-right: 5px;
}
/*******************************************
THUMBNAILS
*******************************************/
.thumbnail {
  border-radius: 0;
}